.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #a391c1;
  }
  
  .logo {
    width: 200px;
    margin-bottom: 30px;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  .login-form h2 {
    margin-bottom: 30px;
    color: #3C009D;
  }
  
  .login-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #878686;
    border-radius: 5px;
  }
  
  .forgot-password {
    color: #506b89;
    font-size: 14px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .forgot-password:hover {
    text-decoration: underline;
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }
  
  .btn-login {
    background-color: #4d00d4;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
  }
  
  .btn-signup {
    background-color: #4d00d4;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
  }
  
  .btn-login:hover, .btn-signup:hover {
    opacity: 0.9;
  }

  .no-account-text {
    color: #506b89; 
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
  }
  
  .create-account {
    color: #4d00d4; 
    cursor: pointer;
    text-decoration: underline; 
  }
  
  .create-account:hover {
    color: #3c009d; 
  }

  .google-login-container {
    margin-top: 20px; 
  }
  
  .btn-google-circle {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%; 
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: box-shadow 0.3s ease;
  }
  
  .btn-google-circle:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); 
  }
  
  .google-logo {
    width: 24px; 
    height: 24px;
  }
  


