*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #a391c1;
}
a{
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}
.btn{
  background: #fff;
  color: black;
  padding: 14px 25px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  border: 1;
  outline: 0;
}
