.form-header {
  width: 100%;
  text-align: center; /* Centraliza o título */
  margin-bottom: 30px; /* Espaço entre o título e o card */
}

.h1 {
  font-size: 2.5rem; /* Ajuste do tamanho do título */
  text-align: center; /* Centraliza o texto */
  margin-bottom: 30px; /* Espaço entre o título e o formulário */
  color: #000000; /* Cor do título */
  font-weight: bold; /* Negrito para destacar o título */
}

.regemotion-container {
  display: flex;
  flex-direction: column; /* Organiza o título e o formulário verticalmente */
  align-items: center; /* Centraliza horizontalmente o conteúdo */
  justify-content: flex-start; /* Alinha o conteúdo no topo */
  padding: 20px 0;
}

.regemotion-form {
  width: 60%; /* Ajuste a largura para melhor visualização */
  height: 100%;
  display: flex;
  justify-content: space-between; /* Dividir espaço entre a parte esquerda e direita */
  align-items: center;
  background-color: white;
  border-radius: 15px; /* Bordas arredondadas */
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave para dar destaque */
}

.regemotion-formleft {
  width: 40%; /* Ajusta a largura do lado esquerdo */
  display: flex;
  justify-content: center;
  align-items: center;
}

.regemotion-formright {
  width: 60%; /* Ajusta a largura do lado direito */
}

.emoji-picker-container {
  display: flex;
  justify-content: center; 
  align-items: center;
  position: relative;
}

.emoji-circle {
  width: 200px; /* Aumentando o tamanho do círculo */
  height: 200px; /* Aumentando o tamanho do círculo */
  border-radius: 50%;
  background-color: #cfcdcd;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.emoji-circle > span {
  font-size: 5rem; /* Aumentando o tamanho do emoji */
}

.emoji-circle:hover {
  background-color: #e0e0e0; /* Mudança de cor ao passar o mouse */
}

.emoji-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
  gap: 10px;
  padding: 10px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: absolute;
  z-index: 1000;
  width: 80%;
}

.emoji-item {
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  padding: 10px;
}

.emoji-item:hover {
  background-color: #f0f0f0;
}

.text-label, .emotion-label, label {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.text-label input, .emotion-label input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 5px;
  border-radius: 5px; /* Borda arredondada para os campos de input */
  border: 1px solid #ccc;
}

textarea {
  width: 100%;
  height: 100px;
  resize: none;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.submit-button {
  align-self: flex-end;
  background-color: #7627af; /* Roxo principal */
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #4b0082; /* Roxo mais escuro no hover */
}